body {
    text-align: center;
}

.button-container > button {
    padding: 1rem;
    margin: 0.1rem;
}

.score-board {
    display: flex;
    justify-content: center;
}

.score-board > * {
    margin: 0.5rem;    
}